# You can get the below from your Azure Entra ID applications dashboard
CLIENT_ID=your-client-id
CLIENT_SECRET=your-client-secret
TENANT_ID=your-tenant-guid
SERVER_URI=your-server-uri # Must match redirect URI set in Azure